.header-hero {
  background: url('#{$imagesPath}/unsplash/alexandre.jpg');
  background-size: cover;
  background-position: center 0px;
  padding-top: 270px;
  overflow: hidden;
  position: relative;
  min-height: 70vh;

  &-title {
    display:inline;
    // margin: 0 0 140px 0;
    text-align: left;
  }

  &--larger {
    min-height: 100vh;
    padding-top: 290px;
  }

  &--light {
    background-image: url('#{$imagesPath}/unsplash/jorg-angeli-220264.jpg');
    border-bottom: 1px solid #DEE4EA;

    &:after {
      background: rgba(249, 251, 255, 0.25) !important;
    }
  }

  .container {
    position: relative;
    z-index: 10;
  }

  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(-45deg, rgba(63, 89, 118, 0.3) 0, rgba(14, 20, 34, 0.5) 80%);
  }

  h2 {
    color: #fff;
    padding-bottom: 60px;
  }
  
  p {
     color: #fff;
     padding-bottom: 50px;
  }

}
.spacial-features {
  margin-top: 110px;

  &:after {
    box-sizing: border-box;
  }
  &:before {
    box-sizing: border-box;
  }
}


.rotation {

  &-accent {
    &::before {
      background-color: #014d95;
      content: "";
      left: 0;
      bottom: 2px;
      height: 5px;
      position: absolute;
      width: 100%;
      z-index: -1;
    }
  }
  &-animation {
    display: block;

    span {
      -webkit-animation: rotateWord-Home 10s cubic-bezier(.175,.885,.32,1.275) infinite;
      animation: rotateWord-Home 10s cubic-bezier(.175,.885,.32,1.275) infinite;
      color: #fff;
      // left: 550px;
      opacity: 0;
      // font-weight: 700;
      overflow: hidden;
      position: absolute;
      line-height: normal;
      white-space: nowrap;
      -webkit-text-emphasis: left;
      text-emphasis: left;
      // font-size: 44px;
    }
    p {
      font-weight: 700;
      line-height: normal;
      height: 0;
      width: 0;
      margin: 0;
      visibility: hidden;
      // font-size: 44px;
    }

    span:nth-child(2) {
      animation-delay: 3s;
    }

    span:nth-child(3) {
      animation-delay: 5s;
    }

    span:nth-child(4) {
      animation-delay: 7s;
    }

    span:nth-child(5) {
      animation-delay: 9s;
    }

    span:nth-child(6) {
      animation-delay: 11s;
    }

  }
}

@-webkit-keyframes rotateWord-Home {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px)
  }

  2% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0)
  }

  5% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0)
  }

  10% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0)
  }

  13% {
    opacity: 0;
    -webkit-transform: translateY(30px);
    transform: translateY(30px)
  }

  80% {
    opacity: 0
  }

  to {
    opacity: 0
  }
}

@keyframes rotateWord-Home {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px)
  }

  2% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0)
  }

  5% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0)
  }

  10% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0)
  }

  13% {
    opacity: 0;
    -webkit-transform: translateY(30px);
    transform: translateY(30px)
  }

  80% {
    opacity: 0
  }

  to {
    opacity: 0
  }
}